@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    line-height: normal;
    color: #111;
}

a {
    color: #111;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}


/* スムーススクロール */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.125rem;
}



/* 部品
------------------------------------------ */
/* フォント */
.-montserrat {
    font-family: "Montserrat", sans-serif;
}

/* 文字の太さbold */
.-semibold {
    font-weight: 600;
}

.-bold {
    font-weight: 700;
}

/* flexbox */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* コンテナ */
.container {
    max-width: 72.9375rem;
    margin-inline: auto;
}

/* 角丸画像 */
.border-radius {
    border-radius: 1.25rem;
}

/* 見出し　2か国語セット */





/* 下層ページmv */





/* 下層ページ　価格・スペック　見出し */






/* ヘッダー
------------------------------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding-top: 1.75rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .header {
        padding-top: 0;
    }
}


/* ロゴ */
@media (max-width: 767px) {
    .header__logo {
        width: 12.375rem;
    }
}


/* ハンバーガーボタン */
.header__hamburger-button {
    position: fixed;
    top: 1.4375rem;
    right: 1rem;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .header__hamburger-button {
        display: none;
    }
}

.header__hamburger-button--bar {
    width: 1.5rem;
    height: 0.125rem;
    background-color: #000;
}

.header__hamburger-button--bar:not(:last-child) {
    margin-bottom: .375rem;
}


/* ヘッダーナビゲーション、ハンバーガーメニュー
------------------------------------------ */
/* ヘッダーナビゲーション */
.header__nav--list-group {
    column-gap: 2.375rem;
    margin-top: .75rem;
}

.header__nav--list-group a {
    font-size: 1rem;
    color: #000;
}

@media (min-width: 768px) {
    .header__nav--list-item-1st {
        display: none;
    }  
}


/* ハンバーガーメニュー */
@media (max-width: 767px) {
    .header__hamburger-menu {
        position: fixed;
        top: 3.9063rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 39.625rem);
        transition: all 0.6s;
        transform: translateX(100%);
    }
}

/* アクティブ状態 */
.header__hamburger-menu-active {
    transform: translateX(0);
}

@media (max-width: 767px) {
    .header__hamburger-menu--list-group {
        background-color: #168352;
        flex-direction: column;
        row-gap: 1.9375rem;
        margin-inline: 1rem;
        margin-top: 0;
        padding-top: 2.125rem;
        padding-bottom: 2.25rem;
        border-radius: 1.5rem;
    }
    .header__hamburger-menu--list-group a {
        color: #fff;
        font-size: 1.125rem;
    }
}



/* メインビジュアル
------------------------------------------ */
.main {
    margin-top: 4.5625rem;
}

@media (max-width: 767px) {
    .main {
        margin-top: 2.75rem;
    }
}

.mv {
    padding-inline: 1rem;
    padding-top: 5.0625rem;

}

@media (max-width: 767px) {
    .mv {
        padding-top: 2rem;
    }
}

.mv__cover-text-group {
    padding-inline: 2rem;
    color: #000;
    column-gap: 1.25rem;
}

@media (max-width: 767px) {
    .mv__cover-text-group {
        flex-direction: column;
        padding-inline: 0;
        align-items: flex-start;
    }
}

.mv__cover-text-group--title {
    font-size: 2.5rem;
    margin-bottom: 1.375rem;
    min-width: 27.5rem;
}

@media (max-width: 767px) {
    .mv__cover-text-group--title {
        font-size: 1.75rem;
        margin-bottom: .75rem;
        min-width: auto;
    }
}

.mv__cover-text-group--text {
    width: 48%;
    margin-top: .5rem;
    font-size: .9375rem;
    line-height: 1.625rem;
}

@media (max-width: 767px) {
    .mv__cover-text-group--text {
        width: auto;
    }
}

.mv__cover {
    display: block;
    margin-inline: auto;
    margin-top: 3.6875rem;
}

@media (max-width: 767px) {
    .mv__cover {
        margin-top: 1.6875rem;
    }
}

.mv__cover--sp {
    display: block;
    margin-inline: auto;
}