@charset "UTF-8";

/* ベースのスタイル
------------------------------------------ */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    line-height: normal;
    color: #111;
}

a {
    color: #111;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}


/* スムーススクロール */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.125rem;
}



/* 部品
------------------------------------------ */
/* フォント */
.-montserrat {
    font-family: "Montserrat", sans-serif;
}

/* 文字の太さbold */
.-semibold {
    font-weight: 600;
}

.-bold {
    font-weight: 700;
}

/* flexbox */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* コンテナ */
.container {
    max-width: 72.9375rem;
    margin-inline: auto;
}

/* 見出し　2か国語セット */
.section-title {
    flex-direction: column;
}

/* 英語表記 */
.section-title-en {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #168352;
}

@media (max-width: 767px) {
    .section-title-en {
        font-size: 1rem;
    }
}

/* 日本語表記 */
.section-title-jp {
    font-weight: 700;
    font-size: 1.75rem;
    color: #000;margin-top: .4375rem;
    margin-left: .1875rem;
}

@media (max-width: 767px) {
    .section-title-jp {
        font-size: 1.25rem;
        margin-top: .1875rem;
        margin-left: .0625rem;
    }
}



/* 下層ページmv */
.subpage-mv {
    padding-top: 9.625rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .subpage-mv {
        padding-top: 5.1875rem;
    }
}

.subpage-mv-container {
    position: relative;/*相対配置*/
    max-width: 75rem;
    margin-inline: auto;
}

@media (max-width: 767px) {
    .subpage-mv-container {
        max-width: 22.375rem;
    }
}

/* 画像 画面サイズで変更 */
.subpage-mv__img--sp {
    display: none;
}

@media screen and (max-width:767px) {
    .subpage-mv__img--pc {
        display: none;
    }

    .subpage-mv__img--sp {
        display: block;
    }
}

/* テキスト */
.subpage-mv__title {
    position: absolute;/*絶対配置*/
    width: 20.4375rem;
    background-color: #fff;
    padding-top: 1.75rem;
    padding-bottom: 2.0625rem;
    padding-left: .25rem;
    border-radius: 0 2.5rem 0 0;
    text-align: center;
    font-size: 2.25rem;
    color: #000;
    top: 79.5%;
    left: 0;
    font-weight: 700;
}

@media (max-width: 767px) {
    .subpage-mv__title {
        font-size: 1.875rem;
        position: unset;
        text-align: unset;
        padding: 0;
        margin-top: 1.375rem;
    }
}




/* priceページ 見出し */
.price-section-title {
    position: relative;
    max-width: 50rem;
    margin-inline: auto;
    line-height: 1.3;
    border-bottom: .3125rem solid #ddd;
    padding-bottom: 1.3125rem;
    font-size: 1.75rem;
    color: #000;
    font-weight: 700;
}

@media (max-width: 767px) {
    .price-section-title {
        max-width: 22.375rem;
        font-size: 1.375rem;
        border-bottom: .1875rem solid #DDD;
        padding-bottom: .5625rem;
    }
}

.price-section-title:before {
    position: absolute;
    bottom: -.3125rem;
    width: 6.25rem;
    height: .3125rem;
    display: block;
    content: "";
    background: #168352;
}

@media (max-width: 767px) {
    .price-section-title:before {
        bottom: -.1875rem;
        width: 3.125rem;
        height: .1875rem;
    }
}



/* ヘッダー
------------------------------------------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding-top: 1.75rem;
    padding-inline: 1rem;
    padding-bottom: 1.25rem;
}

@media (max-width: 767px) {
    .header {
        padding-top: 0;
    }
}


/* ロゴ */
@media (max-width: 767px) {
    .header__logo {
        width: 12.375rem;
    }
}


/* ハンバーガーボタン */
.header__hamburger-button {
    position: fixed;
    top: 1.4375rem;
    right: 1rem;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    .header__hamburger-button {
        display: none;
    }
}

.header__hamburger-button--bar {
    width: 1.5rem;
    height: 0.125rem;
    background-color: #000;
}

.header__hamburger-button--bar:not(:last-child) {
    margin-bottom: .375rem;
}


/* ヘッダーナビゲーション、ハンバーガーメニュー
------------------------------------------ */
/* ヘッダーナビゲーション */
.header__nav--list-group {
    column-gap: 2.375rem;
    margin-top: .75rem;
}

.header__nav--list-group a {
    font-size: 1rem;
    color: #000;
}

@media (min-width: 768px) {
    .header__nav--list-item-1st {
        display: none;
    }  
}


/* ハンバーガーメニュー */
@media (max-width: 767px) {
    .header__hamburger-menu {
        position: fixed;
        top: 3.9063rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 39.625rem);
        transition: all 0.6s;
        transform: translateX(100%);
    }
}

/* アクティブ状態 */
.header__hamburger-menu-active {
    transform: translateX(0);
}

@media (max-width: 767px) {
    .header__hamburger-menu--list-group {
        background-color: #168352;
        flex-direction: column;
        row-gap: 1.9375rem;
        margin-inline: 1rem;
        margin-top: 0;
        padding-top: 2.125rem;
        padding-bottom: 2.25rem;
        border-radius: 1.5rem;
    }
    .header__hamburger-menu--list-group a {
        color: #fff;
        font-size: 1.125rem;
    }
}



/* メインビジュアル
------------------------------------------ */
.main {
    margin-top: 4.5625rem;
}

@media (max-width: 767px) {
    .main {
        margin-top: 2.75rem;
    }
}

.mv {
    padding-inline: 1rem;
    padding-top: 5.0625rem;

}

@media (max-width: 767px) {
    .mv {
        padding-top: 2rem;
    }
}


/* カバーテキスト */
.mv__cover-text-group {
    padding-inline: 2rem;
    color: #000;
    column-gap: 1.25rem;
}

@media (max-width: 767px) {
    .mv__cover-text-group {
        flex-direction: column;
        padding-inline: 0;
        align-items: flex-start;
    }
}

.mv__cover-text-group--title {
    font-size: 2.5rem;
    margin-bottom: 1.375rem;
    min-width: 27.5rem;
}

@media (max-width: 767px) {
    .mv__cover-text-group--title {
        font-size: 1.75rem;
        margin-bottom: .75rem;
        min-width: auto;
    }
}

.mv__cover-text-group--text {
    width: 48%;
    margin-top: .5rem;
    font-size: .9375rem;
    line-height: 1.625rem;
}

@media (max-width: 767px) {
    .mv__cover-text-group--text {
        width: auto;
    }
}


/* カバー画像 */
.mv__cover {
    display: block;
    margin-inline: auto;
    margin-top: 3.6875rem;
}

@media (max-width: 767px) {
    .mv__cover {
        margin-top: 1.6875rem;
    }
}

.mv__cover--sp {
    display: block;
    margin-inline: auto;
}



/* 私たちについて
------------------------------------------ */
.about {
    padding-top: 3.75rem;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

@media (max-width: 767px) {
    .about {
        padding-top: 3.25rem;
        padding-inline: 0;
        padding-bottom: 0;
    }
}

.about-container {
    max-width: 60.5625rem;
}

.about__content {
    padding-top: 1.6875rem;
    column-gap: 1rem;
}

/* テキスト */
.about__content--text-group {
    max-width: 26.0625rem;
    margin-bottom: .375rem;
}

@media (max-width: 767px) {
    .about__content--text-group {
        background-color: rgba(255, 255, 255, 0.8);
        width: 22.375rem;
        margin-inline: auto;
        border-radius: 2rem;
        padding-top: .8125rem;
        padding-bottom: 1.0625rem;
        margin-bottom: 0;
    }
}

.about__content--text-group-title {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    margin-bottom: 1.5625rem;
}

@media (max-width: 767px) {
    .about__content--text-group-title {
        font-size: 1.125rem;
        line-height: 2rem;
        margin-bottom: .4375rem;
        padding-inline: 1.5625rem;
    }
}

.about__content--text-group-title span {
    display: block;
}

@media (max-width: 767px) {
    .about__content--text-group-title span {
        display: inline-block;
    }
}

.about__content--text-group-text {
    font-size: .9375rem;
    line-height: 1.625rem;
}

@media (max-width: 767px) {
    .about__content--text-group-text {
        line-height: 1.6438rem;
        padding-inline: 1.5625rem;
    }
}


/* 画像 */
.about__content--img {
    margin-right: .9375rem;
}

@media (max-width: 767px) {
    .about__content--img {
        display: none;
    }
}


/* SP表示は背景画像へ切り替え */
@media (max-width: 767px) {
    .background {
        background-image: url(../image/about/about_sp_01.jpg);
        background-position: center;
        padding-inline: 1rem;
        margin-top: 1.25rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}



/* 私たちが選ばれる3つの理由
------------------------------------------ */
.features {
    padding-top: 3.75rem;
    padding-inline: 1rem;
    padding-bottom: 3.9375rem;
    background-color: #f3f9f6;
}

@media (max-width: 767px) {
    .features {
        padding-top: 3.1875rem;
        padding-bottom: 3.5rem;
    }
}

.features__content {
    margin-top: 1.5625rem;
}

@media (max-width: 767px) {
    .features__content {
        flex-direction: column;
        row-gap: 1.25rem;
        margin-top: 1.25rem;
    }
}

.features__content--item-group {
    width: calc((100% - 3.8125rem) / 3);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.05);
}

@media (max-width: 767px) {
    .features__content--item-group {
        width: 22.375rem;
    }
}


/* 画像 */
.features__content--item-group-img {
    display: block;
}

@media (max-width: 767px) {
    .features__content--item-group-img {
        width: 22.375rem;
        height: 12.5625rem;
    }
}


/* テキスト */
.features__content--item-group-text {
    font-size: 1.1875rem;
    padding-top: .75rem;
    padding-inline: 1.25rem;
    padding-bottom: 1rem;
    line-height: 1.75;
    background-color: #fff;
    border-radius: 0 0 24px 24px;
}

@media (max-width: 767px) {
    .features__content--item-group-text {
        font-size: 1.125rem;
        padding-top: .75rem;
        padding-inline: 1rem;
        padding-bottom: .8125rem;
    }
}



/* 製品・サービス紹介
------------------------------------------ */
.products-service {
    padding-top: 3.875rem;
    padding-inline: 1rem ;
    padding-bottom: 4rem;
}

@media (max-width: 767px) {
    .products-service {
        padding-top: 3.3125rem;
        padding-bottom: 3.5rem;
    }
}

.products-service-container {
    max-width: 68.75rem;
}

.products-service__title .section-title-jp {
    margin-top: .5rem;
    margin-left: 0;
}

@media (max-width: 767px) {
    .products-service__title .section-title-jp {
        margin-top: .1875rem;
    }
}


/* アイテム */
.products-service__list-group {
    margin-top: 1.8125rem;
    row-gap: 2.5rem;
    flex-wrap: wrap;
    container-type: inline-size;
}

@media (max-width: 767px) {
    .products-service__list-group {
        flex-direction: column;
        margin-top: 1.25rem;
        row-gap: 1.25rem;
    }
}


/* リンク */
.products-service__list-group--item {
    justify-content: start;
    background-color: #168352;
    border-radius: 1.5rem;
}

@media (max-width: 767px) {
    .products-service__list-group--item {
        width: 22.375rem;
        padding: 1.25rem 1.5rem;
        column-gap: 1.0625rem;
    }
}

/* hover状態 */
.products-service__list-group--item:hover {
    background-color: #dffaec;
}

/* リンク　PC表示　1段目 */
@media (min-width: 768px) {
    .products-service__list-group-1st {
        width: calc(50% - 1.625rem);
        padding: 1.4375rem 1.875rem;
        column-gap: 1.8125rem;
        
    }
}

@container (736px <= width <= 960px) {
    .products-service__list-group-1st {
        width: calc(50% - .8125rem);
        column-gap: 1rem;
    }
}

/* リンク　PC表示　2段目 */
@media (min-width: 768px) {
    .products-service__list-group-2nd {
        width: calc((100% - 101px) / 3);
        padding: 1.25rem 1.4375rem;
        column-gap: 1.25rem;
    }
}

@container (736px <= width <= 960px) {
    .products-service__list-group-2nd {
        width: calc((100% - 50px) / 3);
        column-gap: .5rem;
    }
}


/* 画像 */
@media (max-width: 767px) {
    .products-service__list-group--item-img {
        width: 6.25rem;
    }
}

@container (736px <= width <= 960px){
    .products-service__list-group--item-img-1st {
        width: 6.25rem;
    }
    
    .products-service__list-group--item-img-2nd {
        width: 5rem;
    }
}

/* テキスト */
.products-service__list-group--item-title {
    color: #fff;
    line-height: 1.75;
}

@media (max-width: 767px) {
    .products-service__list-group--item-title {
        width: 11.5rem;
        font-size: 1.125rem;
        line-height: 1.8;

    }
}

/* hover状態 */
.products-service__list-group--item-title:hover {
    color: #168352;
}

/* テキスト PC表示　1段目　*/
@media (min-width: 768px) {
    .products-service__list-group--item-title-1st {
        width: 14.375rem;
        font-size: 1.5rem;
    }
}

@container (736px <= width <= 960px) {
    .products-service__list-group--item-title-1st {
        font-size: 1.125rem;
    }
}

/* テキスト PC表示　2段目　*/
@media (min-width: 768px) {
    .products-service__list-group--item-title-2nd {
        width: 8.75rem;
        margin-bottom: .25rem;
        font-size: 1.25rem;
    }
}
@container (736px <= width <= 960px) {
    .products-service__list-group--item-title-2nd {
        font-size: .875rem;
    }
}



/* お客様の事例紹介
------------------------------------------ */
.case {
    background-color: #f3f9f6;
    padding-top: 3.6875rem;
    padding-inline: 1rem;
    padding-bottom: 3.6875rem;
}

@media (max-width: 767px) {
    .case {
        padding-top: 3.1875rem;
        padding-bottom: 3.0625rem;
    }
}

.case__title .section-title-jp {
    margin-left: 0;
}


/* リンク　*/
.case__list-group {
    align-items: baseline;
    column-gap: 1.875rem;
    margin-top: 1.6875rem;
}

@media (max-width: 767px) {
    .case__list-group {
        flex-direction: column;
        row-gap: 1.625rem;
        margin-top: 1.25rem;
    }
}

.case__list-group--item {
    width: 100%;
}

@media (max-width: 767px) {
    .case__list-group--item {
        width: auto;
        margin-inline: auto;
    }
}

/* hover状態 */
.case__list-group--item:hover {
    opacity: 0.5;
}


/* 画像　*/
.case__list-group--item-img-sp {
    display: none;
}

@media screen and (max-width:767px) {
    .case__list-group--item-img-pc {
        display: none;
    }

    .case__list-group--item-img-sp {
        display: block;
    }
}


/* テキスト　*/
.case__list-group--item-title {
    font-size: 1.1875rem;
    line-height: 1.75;
    color: #09947b;
    margin-top: .5rem;
}

@media (max-width: 767px) {
    .case__list-group--item-title {
        font-size: 1.125rem;
        line-height: 1.75;
        margin-top: .5rem;
    }
}



/* お知らせ
------------------------------------------ */
.news {
    padding-top: 3.6875rem;
    padding-inline: 1rem;
    padding-bottom: 4.3125rem;
}

@media (max-width: 767px) {
    .news {
        padding-top: 3.1875rem;
        padding-bottom: 3.8125rem;
    }
}

.news-container {
    max-width: 56.25rem;
}


/* リスト　*/
.news__list-group {
    border-top: .0625rem solid #ddd;
    margin-top: 1.6875rem;
}

@media (max-width: 767px) {
    .news__list-group {
        margin-top: 1.25rem;
    }
}

.news__list-group li {
    border-bottom: .0625rem solid #ddd;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 767px) {
    .news__list-group li {
        padding-bottom: .625rem;
        padding-top: .9063rem;
    }
}


/* リスト　日付　*/
.news__list-group--item-date {
    display: inline-block;
    width: 5rem;
    font-size: .875rem;
    color: #222;
}

@media (max-width: 767px) {
    .news__list-group--item-date {
        font-size: .9375rem;
    }
}


/* リスト　ラベル　*/
.news__list-group--item-badge {
    display: inline-block;
    width: 8.375rem;
    padding-top: .4375rem;
    padding-bottom: .5rem;
    color: #fff;
    font-size: .8125rem;
    line-height: 1;
    text-align: center;
    background-color: #473221;
    border-radius: .25rem;
    margin-left: .375rem;
}

@media (max-width: 767px) {
    .news__list-group--item-badge {
        width: 8.375rem;
        font-size: .8125rem;
        margin-left: .5625rem;
        padding-top: .5rem;
        padding-bottom: .5625rem;
    }
}


/* リスト　テキスト　*/
.news__list-group--item-text {
    display: inline-block;
    color: #09947b;
    font-size: .9375rem;
    margin-left: 1.25rem;
}

@media (max-width: 767px) {
    .news__list-group--item-text {
        display: block;
        font-size: .9375rem;
        margin-left: .0625rem;
        margin-top: .5rem;
        line-height: 1.75;
    }
}


/* ボタン　*/
.news__btn {
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 2.0625rem;
    max-width: 18.75rem;
    padding: 1.1875rem 1rem 1.3125rem;
    margin: 2rem auto 0;
    background-color: #09947b;
    box-shadow: 0 .3125rem 0 #066655;
    font-size: 1.125rem;
}

@media (max-width: 767px) {
    .news__btn {
        margin-top: 1.5625rem;
    }
}


/* hover状態 */
.news__btn:hover {
    margin: 2.1875rem auto 0;
    box-shadow: 0 .125rem 0 #066655;
}

@media (max-width: 767px) {
    .news__btn:hover {
        margin: 1.75rem auto 0;
    }
}



/* フッター
------------------------------------------ */
.footer {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    text-align: center;
    background-color: #168352;
}

@media (max-width: 767px) {
    .footer {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}


/* フッターナビゲーション */
.footer__nav {
    font-size: .9375rem;
}

@media (max-width: 767px) {
    .footer__nav {
        font-size: .8125rem;
    }
}

.footer__nav--list-group {
    justify-content: center;
}

.footer__nav--list-group li {
    padding: 0 1.1875rem;
    margin-left: .125rem;
    height: 1.5rem;
}

@media (max-width: 767px) {
    .footer__nav--list-group li {
        height: 1.25rem;
        padding: 0 1rem;
        margin-left: .0625rem;
    }
}

.footer__nav--list-group li:last-child {
    border-left: .0625rem solid #fff;
}

.footer__nav--list-group-item {
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: .25rem;
}

.footer__nav--list-group-item-2nd {
    letter-spacing: -.0625rem;
}

@media (max-width: 767px) {
    .footer__nav--list-group-item-2nd {
        letter-spacing: 0;
    }
}




/* priceページ  ヘッダー
------------------------------------------ */
/* 位置調整 */
.price-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding-top: 1.75rem;
    padding-inline: 1rem;
    padding-bottom: 1.25rem;
}

@media (max-width: 767px) {
    .price-header {
        padding-top: 0;
        padding-left: .9375rem;
    }
}

@media (max-width: 767px) {
    .price-header .header__logo {
        width: 12.375rem;
    }
}


/* 文字色変更 */
.header__nav--list-group .price-color {
    color: #168352;
}

@media (max-width: 767px) {
    .header__nav--list-group .price-color {
        color: #fff;
    }
}



/* priceページ  パンくずリスト
------------------------------------------ */
/* コンテナ */
.price .breadcrumb {
    padding-top: 1.1875rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .price .breadcrumb {
        padding-top: 1.3125rem;
        padding-inline: .875rem;
    }
}

.price .breadcrumb__nav {
    max-width: 75.25rem;
    margin-inline: auto;
}

/* パンくずリスト */
.price .breadcrumb__nav--list-group {
    display: flex;
    column-gap: .25rem;
    list-style: none;
    justify-content: end;
}

@media (max-width: 767px) {
    .price .breadcrumb__nav--list-group {
        max-width: 22.625rem;
        margin-inline: auto;
    }
}

/* リンク */
.price .breadcrumb__nav--list-group-item a {
    color: #000;
    font-size: .75rem;
    vertical-align: .125rem;
}

.price .breadcrumb__nav--list-group-item + .breadcrumb__nav--list-group-item::before {
    padding-right: .25rem;
    font-family: "bootstrap-icons";
    font-size: .75rem;
    content: "\F285";
    font-weight: 700;
}


/* priceページ  ギャラリー
------------------------------------------ */
.price .gallery {
    padding-top: 3.375rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .price .gallery {
        padding-top: 1.875rem;
    }
}

.price .gallery-container {
    max-width: 50rem;
}

.price .gallery__slick {
    padding-top: 2rem;
}

@media (max-width: 767px) {
    .price .gallery__slick {
        padding-top: 1.5rem;
    }
}

@media (max-width: 767px) {
    .price .slick-list {
        border-radius: 1.5rem;
    }
    
    .price .slick-track {
        height: 14.8125rem;
    }
    
    .price .slick-slider .slick-list {
        max-width: 22.375rem;
        margin-inline: auto;
    }
}


/* ドットの縦位置調整 */
.price .slick-dots {
    bottom: .9375rem;
    right: .5rem;
}

@media (max-width: 767px) {
    .price .slick-dots {
        bottom: .1875rem;
    }
}

/* ドットの間隔調整 */
.price .slick-dots li {
    width: .25rem;
}

/* ドットのサイズ・色変更 */
.price .slick-dots li button:before {
    font-size: .625rem;
    color: #eeeeee;
    opacity: 1;
}

/* ドット・アクティブ状態 */
.price .slick-dots li.slick-active button:before{
    color: #168352;
    opacity: 1;
}



/* priceページ  特徴
------------------------------------------ */
.price .price-features {
    padding-top: 2.125rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .price .price-features {
        padding-top: 1.8125rem;
    }
}

.price .price-features-container {
    max-width: 50.0625rem;
}

.price .price-features__list-group {
    align-items: baseline;
    column-gap: 1.875rem;
    margin-top: 2rem;
}

@media (max-width: 767px) {
    .price .price-features__list-group {
        flex-direction: column;
        row-gap: 2.0625rem;
        margin-top: 1.5rem;
    }
}

.price .price-features__list-group--item {
    width: 100%;
}

@media (max-width: 767px) {
    .price .price-features__list-group--item {
        width: auto;
        margin-inline: auto;
    }
}

/* 画像 画面サイズで変更 */
.price .price-features__list-group--item-img-sp {
    display: none;
}

@media screen and (max-width:767px) {
    .price .price-features__list-group--item-img-pc {
        display: none;
    }

    .price .price-features__list-group--item-img-sp {
        display: block;
    }
}

/* テキスト */
.price .price-features__list-group--item-text {
    font-size: 1.125rem;
    color: #000;
    margin-top: .5rem;
    line-height: 1.75;
}

/* sp表示パーフェクトピクセル調整　（改行調整） */
@media (max-width: 767px) {
    .price .price-features__list-group--item-text {
        letter-spacing: -.0001rem;
        width: 22.375rem;
    }
}



/* priceページ  メーカー希望小売価格
------------------------------------------ */
.price .retail-price {
    padding-top: 3.5625rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .price .retail-price {
        padding-top: 3.375rem;
    }
}

.price .retail-price-container {
    max-width: 50rem;
}

/* テキスト */
.price .retail-price__text {
    font-size: 2rem;
    margin-top: 1.5625rem;
}

@media (max-width: 767px) {
    .price .retail-price__text {
        margin-top: 1.0625rem;
        max-width: 22.375rem;
        margin-inline: auto;
    }
}

.price .tax {
    font-size: 1rem;
}



/* priceページ  スペック
------------------------------------------ */
.price .spec {
    padding-top: 3.9375rem;
    padding-inline: 1rem;
}

@media (max-width: 767px) {
    .price .spec {
        padding-top: 3.5625rem;
    }
}


/* サブタイトル */
.price .spec__subtitle {
    max-width: 46.25rem;
    margin-inline: auto;
    margin-top: 2.0625rem;
    padding-left: 1.0313rem;
    height: 2.5rem;
    border-left: #168352 solid 3px; /* 線 */
    font-size: 1.5rem;
    color: #000;
}

@media (max-width: 767px) {
    .price .spec__subtitle {
        max-width: 22.375rem;
        margin-top: 1.5rem;
        padding-left: 1rem;
        height: 30px;
        border-left: #168352 solid 2px; /* 線 */
        font-size: 1.25rem;
    }
}

/* テーブル */
.price .spec__table {
    width: 100%;
    max-width: 46.25rem;
    margin-inline: auto;
    margin-top: 1.4375rem;
    border-collapse: collapse;
    color: #000;
    text-align: left;
}

@media (max-width: 767px) {
    .price .spec__table {
        max-width: 22.375rem;
        margin-top: 1.0625rem;
    }
}

.price .spec__table th,
.price .spec__table td {
    border: 1px solid #ddd;
    letter-spacing: .0938rem;
}

@media (max-width: 767px) {
    .price .spec__table th,
    .price .spec__table td {
        border: 0.5px solid #ddd;
    }
}

.price .spec__table th {
    padding: 1.25rem 2.625rem 1.3rem 1.1875rem;
    background-color: #f5f5f5; /* 背景色 */
}

@media (max-width: 767px) {
    .price .spec__table th {
        padding-top: .4375rem;
        padding-bottom: .5625rem;
    }
}

.price .spec__table td {
    text-align: left;
    letter-spacing: .0187rem;
    padding: 1.25rem 3.875rem 1.25rem 1.5rem;
}

@media (max-width: 767px) {
    .price .spec__table td {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: 2rem;
        padding-left: 1.1875rem;
    }
}

@media (max-width: 767px) {
    .price .spec__table,
    .price .spec__table tr,
    .price .spec__table th,
    .price .spec__table td {
        display:block;
    }
    .price .spec__table th {
        width:auto;
    }
}



/* priceページ  お問い合わせ
------------------------------------------ */
/* 背景画像 */
.price .contact {
    margin-top: 4.5rem;
    height: 28.125rem;
    background-image: url("/assets/image/price/contact/contact_01_pc.png");
    background-size: cover;
    background-position: center;
}

@media (max-width: 767px) {
    .price .contact {
        margin-top: 4.0625rem;
        height: 22.5rem;
        background-image: url("/assets/image/price/contact/contact_01_sp.png");
    }
}

/* 背景画像透過 */
.price .contact-container {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: none;
    padding-top: 11.5625rem;
    padding-bottom: 11.5625rem;
}

@media (max-width: 767px) {
    .price .contact-container {
        padding-top: 8.75rem;
        padding-bottom: 8.75rem;
    }
}

/* ボタン */
.price .contact__btn {
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 3rem;
    width: 22.375rem;
    padding-top: 1.375rem;
    padding-bottom: 1.5625rem;
    margin-inline: auto;
    font-size: 1.25rem;
    border: .125rem solid #fff;
}